body{		
	background-color:#EEEEFF;
	height:100%;
	width:100%;
}

h3{
	color: black;
} 

p{
	margin: 8px 8px; 
	color: #0000FF;
}

button{
	margin: 8px 8px;
}

canvas{
	border: 1px solid black;
	image-rendering: pixelated;

}

footer{
	background-color: rgba(220, 220, 255);;
}
